.Todo-section {
  align-items: center;
  background-color: #282c34;
  border-radius: 5px;
  display: flex;
  margin: 10px 0;
  padding: 10px;
}

.Todo-title {
  flex-grow: 1;
  overflow: hidden;
  padding: 0 5px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1em;
}

.Todo-title.done {
  text-decoration: line-through;
}

.Todo-status {
  border-radius: 50%;
  border: lightgreen solid 2px;
  cursor: pointer;
  flex-shrink: 0;
  height: 16px;
  width: 16px;
}

.Todo-status.done {
  background-color: lightgreen;
}

.Todo-cross {
  cursor: pointer;
  flex-shrink: 0;
  height: 16px;
  width: 16px;
}
